<div class="list-group-item">
    <h5 class="mb-3">{{ task.title }}</h5>
    {% if task.description %}
    <a class="text-info mb-3" data-toggle="collapse" href="#collapse{{ forloop.counter }}" role="button"
       aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
        More
    </a>
    <div class="collapse" id="collapse{{ forloop.counter }}">
        <div class="card card-body">
            {{ task.description }}
        </div>
    </div>
    {% endif %}
    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="completed{{ forloop.counter }}"
               {% if task.completed %}checked{% endif %} disabled>
        <label class="custom-control-label" for="completed{{ forloop.counter }}">
            {% if task.completed %} Completed
            {% else %} Uncompleted {% endif %}
        </label>
    </div>
    {% if task.important %}
    <span class="badge badge-danger">Important</span>
    {% endif %}
</div>
